div.list, div.empty {
  border: 1px solid #272727;
  min-height: 250px;
}


div.list > li, div.list > app-inputer {
  border: 0.5px solid #272727;

  width: auto;
  display: block;
  height: 2em;
  line-height: 2em;
  text-indent: 1.4em;

  overflow: hidden;
  text-overflow: ellipsis;

  cursor: pointer;
}

.hover {
  background: #AAA;
}

.selected {
  background: #88afdb;
}

div.empty {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: gray;
}


